<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content" style="font-size: 22px">
        <h:body>
            <h1>
                <h:outputText value="Beitrag schreiben" />
            </h1>
            <h2>
                <h:outputText value="Beitragrelevante Informationen:" />
            </h2>
            <h:form id="form">


                    <h:outputLabel style="font-weight:bold" value="Beitragname:"/>
                    <h:inputText id="projektname" required="true"
                                 value="#{beitragBean.neuerBeitrag.name}" style="width:98%; " />
                    <h:message style="color:red"/>
                    <h:outputLabel style="font-weight:bold" value="Auftrags-ID:"
                                   for="id" />
                    <h:inputText id="id" required="true"
                                 value="#{beitragBean.neuerBeitrag.id}" style="width:98%;">
                        <f:validateRegex pattern="^[A][1-9][0-9]*$"></f:validateRegex>
                    </h:inputText>
                    <h:message for="id" style="color:red"/>

                <br />
                <h:commandButton id="speichereBeitrag" value="Beitrag anlegen"
                                 action="#{beitragBean.neuerBeitragAnlegen}" />


            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>