<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Study 2.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body style="background-color:#d9f2e4">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/greeting">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Persönlicher Schreibtisch <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/greeting">Übersicht</a></li>
                        <li><a href="/add_lgp">Lerngruppe hinzufügen</a></li>
                        <li><a href="/myLearningGroups">Meine Lerngruppen</a></li>
                        <li><a href="/join_lgp">Lernguppe beitreten</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lerngruppe verwalten<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="'/change_lgp?id=' + ${lerngruppe.id}" >Einstellungen der Lerngruppe ändern</a></li>
                        <li><a th:href="'/show_user_lgp?id=' + ${lerngruppe.id}" >Mitglieder anzeigen</a></li>
                        <li><a th:href="'/del_lgp?id=' + ${lerngruppe.id}">Lerngruppe löschen</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Meine Quiz</a></li>
                        <li><a href="/change_profileSettings">Profil ändern</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<h1 style="text-align:center" th:text="'Sie haben ' + ${punkte}+' von maximal '+${max}+' Punkten erreicht!'" ><b></b></h1>
<h4 style="text-align:center" th:text="'Bester Ranglisten Platz: ' + ${place}"></h4>
<a th:href="'/get_lgp/?id=' + ${lerngruppe.id}" role="button" class="btn btn-success" >Weiter zur Lerngruppe</a>


<table class="table" >
    <tr>
        <td><b>Frage</b></td>
        <td><b>Richtige Antwort</b></td>
        <td><b>Ihre Antwort</b></td>
    </tr>
    <tr th:each="tupel : ${alltupel}">
        <td th:text="${tupel.getQ().getFrage()}"></td>
        <td>
            <span class="label label-default" th:if="${tupel.getQ().getAntwort1_lsg() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getQ().getAntwort1_lsg() == 2}">|Falsch|</span>

            <span class="label label-default" th:if="${tupel.getQ().getAntwort2_lsg() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getQ().getAntwort2_lsg() == 2}">|Falsch|</span>

            <span class="label label-default" th:if="${tupel.getQ().getAntwort3_lsg() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getQ().getAntwort3_lsg() == 2}">|Falsch|</span>

            <span class="label label-default" th:if="${tupel.getQ().getAntwort4_lsg() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getQ().getAntwort4_lsg() == 2}">|Falsch|</span>
        </td>
        <td>
            <span class="label label-default" th:if="${tupel.getA1() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getA1() == 2}">|Falsch|</span>

            <span class="label label-default" th:if="${tupel.getA2() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getA2() == 2}">|Falsch|</span>

            <span class="label label-default" th:if="${tupel.getA3() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getA3() == 2}">|Falsch|</span>

            <span class="label label-default" th:if="${tupel.getA4() == 1}">|Richtig|</span>
            <span class="label label-default" th:if="${tupel.getA4() ==2}">|Falsch|</span>
        </td>
    </tr>
</table>
<div style="position: absolute; left: 950px; top: -16px">
    <h1><font face="Forte" color="LimeGreen">Study 2.0</font></h1>
</div>
</body>
</html>